# Django Core
Django==5.1.5
psycopg2-binary

# Django REST Framework
djangorestframework==3.15.2
djangorestframework-simplejwt

# Django Extensions & Plugins
django-cors-headers==4.6.0
django-extensions
django-autocomplete-light==3.12.1
django-webpush
django-simple-captcha

# Environment & Config
python-decouple
python-dotenv==1.0.1

# Security & Encryption
cryptography
bcrypt
django-fernet-fields
django-csp
django-otp
pyotp
qrcode
python-magic-bin
bleach
django-ratelimit

# PDF Generation
xhtml2pdf

# Excel / Spreadsheet
openpyxl

# Task Queue
celery
APScheduler==3.10.4

# Image Processing
pillow

# HTTP & Networking
requests
urllib3
certifi
idna

# Utilities
six
pytz
python-dateutil
typing_extensions
colorama
packaging
PyYAML
setuptools

# Server
uvicorn
gunicorn

# Other
attrs
sqlparse
MarkupSafe
olefile
pyzk
django-ckeditor-5
beautifulsoup4
whitenoise
celery
redis