.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card {
    background: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.edit-icon {
    color: #23949f;
    cursor: pointer;
}
.section-title {
    background: #23949f;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}