{% extends 'base.html' %}
{% block content %}
  <h1>Edit Delivery Requests for {{ resource_request.account_name }}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for delivery_form in formset %}
      <div class="delivery-form">
        {{ delivery_form.as_p }}
      </div>
    {% endfor %}
    <button type="submit">Save Changes</button>
  </form>
  <a href="{% url 'resource_request_detail' pk=resource_request.pk %}">Back to Details</a>
{% endblock %}