<!DOCTYPE html>
<html>
<head>
    <title>Asset Status Changed</title>
</head>
<body>
    <h2>Asset Status Changed - {{ asset.asset_tag }}</h2>
    <p>The status of the following asset has changed:</p>
    <ul>
        <li>{{ asset.asset_type.name }} - {{ asset.name }} ({{ asset.asset_tag }})</li>
        <li>Old Status: {{ old_status }}</li>
        <li>New Status: {{ new_status }}</li>
    </ul>
    <p>Please take appropriate action if needed.</p>
    <p>Best regards,<br>The Asset Management Team</p>
</body>
</html>